<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hight</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/high.css">
</head>
<body>
<div class="wrap" style="overflow-y:scroll;">
    <div class="left_div">
        <h1>学生管理</h1>
    </div>
    <div class="search bar">
        <form>
            <input placeholder="搜索" name="cname" type="text" autocomplete="off">
            <button type="submit"></button>
        </form>
    </div>
    <div class="logout">
        <h4 class="h4_name">欢迎,{{ name }}老师</h4>
        <a href="/v1.0/logout">退出</a>&nbsp;&nbsp;&nbsp;
        <a class="a_a">联系我们
            <img src="../../static/images/erwei.png">
        </a>
    </div>
    <div id="app">
        <div class="left_div2">
            <h3><a class="a_name" href="#">班级</a></h3>
            <h3><a class="a_name" href="#">违纪事务</a></h3>
            <h3><a class="a_name" href="#">转班事务</a></h3>
            <h3><a class="a_name" @click="dropout" href="#">退学事务</a></h3>
            <h3><a class="a_name" @click="suggestion" href="#">意见清单</a></h3>
            <h3><a class="a_name" @click="password" href="#">设置密码</a></h3>
        </div>
        <div>
            <div v-show="level==3">
                <h2 class="h2_class">退学</h2>
                <div class="table_in">
                    <table class="table table-striped tab">
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>专业</th>
                            <th>班级</th>
                            <th>班主任</th>
                        </tr>
                        <tr class="tr_look" v-for="(su,ind) in drops">
                            <td>{[ind + 1]}</td>
                            <td>{[su.name]}</td>
                            <td>{[su.profession]}</td>
                            <td>{[su.class_name]}</td>
                            <td>{[su.teacher_name]}</td>
                            <td @click="details(ind)">详情</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-show="level==4">
                <h2 class="h2_class">学生建议</h2>
                <div class="table_in">
                    <table class="table table-striped tab">
                        <tr>
                            <th>序号</th>
                            <th>建议</th>
                            <th>提出时间</th>
                        </tr>
                        <tr class="tr_look" v-for="(su,index) in suggest">
                            <td>{[index + 1]}</td>
                            <td>{[su.suggestion]}</td>
                            <td>{[su.time]}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-show="level==5">
                <h2 class="h2_class">设置密码</h2>
                <div class="container">
                    <form>
                        <label><input type="text" placeholder="原密码" v-model="pwd" name="pwd"
                                      autocomplete="off"
                                      required/></label>
                        <label><input type="password" placeholder="更改密码" v-model="pwd1" name="pwd1" autocomplete="off"
                                      required/></label>
                        <label><input type="password" placeholder="确认密码" v-model="pwd2" name="pwd2" autocomplete="off"
                                      required/></label>
                        <p v-if="mess">{[ mess ]}</p>
                        <label><input type="button" @click="verify" value="提交"/></label>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <div class="container" v-show="level==6">
                <p class="p_in1">姓名: {[ drop.name ]}</p>
                <p class="p_in1">专业: {[ drop.profession ]}</p>
                <p class="p_in1">班级: {[ drop.class_name ]}</p>
                <p class="p_in1">班主任: {[ drop.teacher_name ]}</p>
                <p class="p_in1">入学时间: {[ drop.time_of_enrollment ]}</p>
                <p class="p_in1">退学原因: {[ drop.reason ]}</p>
                <form class="inp">
                    <label><textarea placeholder="结果" v-model="result" name="result" spellcheck="true" rows="5"
                                     cols="50"></textarea></label>
                    <label><input class='p_in2' @click="res_drop" type="button" value="确认"/></label>
                </form>
                <label v-if="index!=0" @click="up" class="up">上一条</label>
                <label v-if="index!=max_index" class="down" @click="down">下一条</label>
            </div>
        </div>
    </div>
    <ul>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
               
        <li></li>
           
    </ul>

</div>
<script src="../../static/js/axios.js"></script>
<script src="../../static/js/vue.js"></script>
<script>
    var app = new Vue({
        delimiters: ['{[', ']}'],
        el: '#app',
        data: {
            level: 0,
            pwd: '',
            pwd1: '',
            pwd2: '',
            mess: '',
            result: '',
            suggest: [],
            drops: [],
            drop: {},
            index: null,
            max_index: null,
        },
        methods: {
            dropout: function () {
                this.level = 3;
                axios.post('http://127.0.0.1:8000/v1.0/data/dropout')
                    .then((res) => {
                        this.drops = res.data.dropouts;
                        this.max_index = this.drops.length - 1
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            suggestion: function () {
                this.level = 4;
                axios.post('http://127.0.0.1:8000/v1.0/data/feedback')
                    .then((res) => {
                        this.suggest = res.data.feedbacks;
                        console.log(this.suggest);
                        console.log(res.data.feedbacks);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            password: function () {
                this.level = 5
            },
            verify: function () {
                if (this.pwd1 === this.pwd2) {
                    axios.post('http://127.0.0.1:8000/v1.0/change/pwd', {
                        pwd: this.pwd,
                        pwd1: this.pwd1
                    }).then((response) => {
                        this.mess = response.data;
                        this.pwd = '';
                        this.pwd1 = '';
                        this.pwd2 = '';
                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.mess = '两次密码不一样';
                }
            },
            details: function (index) {
                this.level = 6;
                this.index = index;
                console.log(index);
                this.drop = this.drops[index];
            },
            res_drop: function () {
                axios.post('http://127.0.0.1:8000/v1.0/manage/dropout', {
                    'result': this.result,
                    'id': this.drop.id
                })
                    .then((res) => {
                        console.log(res)
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            up:function () {
                this.index --;
                this.drop = this.drops[this.index]
            },
            down:function () {
                this.index ++;
                this.drop = this.drops[this.index]
            },
        }
    })
</script>
</body>
</html>