<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body style="background-image: url(../images/login.jpg);background-repeat: no-repeat;background-size: 130%;">
<form action="" name="name" id="id" method="post" onreset="return">
    <div style="width:500px;margin: 220px auto;" align="center">
            <h1 style="color: #ff0b20" align="center">学生管理</h1>
         <label for="username" style="font-size:18px;color:#02d8ff" >用户：</label>
             <input id="username" type="text" style="height:30px;width:300px;">
         <br/>
         <br/>
            <label for="position" style="font-size:18px;color:#02d8ff" >职位：</label>
            <input id="position" type="text" style="height:30px;width:300px;">
         <br/>
         <br/>
         <label for="password1" style="font-size:18px;color:#02d8ff" >密码：</label>
             <input id="password1" type="text" style="height:30px;width:300px;">
         <br/>
         <br/>
         <div style="height:30px;width:400px;" align="center">
             <a href="register.html" style="color:#02d8ff">注册</a>
             <input type="submit" style="color:#02d8ff" value="登录" />
         </div>
    </div>
</form>
</body>
</html>